h1 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color:  greenyellow;
}
body {
    background-color: black;
}
.center{
    text-align: center;
}
#top {
   width: 33%;
   height: 33%;
   position: relative;
}

